@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'straczynski';
  src: url('/fonts/Straczynski.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
